{% extends "base.html" %}
{% set title="Login" %}

{% block content %}
<main>
    <div class="card form">
        <h1>Login</h1>

        <form id="loginForm">
            <label>Email</label>
            <input id="email" type="email" required>

            <label>Password</label>
            <input id="password" type="password" minlength="8" required>

            <button type="submit">Login</button>
        </form>

        <p id="msg"></p>
    </div>
</main>

<script>
document.getElementById("loginForm").addEventListener("submit", async function(e) {
    e.preventDefault();

    const msg = document.getElementById("msg");

    try {
        await api("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                email: document.getElementById("email").value,
                password: document.getElementById("password").value
            })
        });

        window.location.href = "/dashboard";

    } catch (error) {
        msg.textContent = error.message;
    }
});
</script>
{% endblock %}
